<%= form_for(@bodequero) do |f| %>
  <% if @bodequero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bodequero.errors.count, "error") %> prohibited this bodequero from being saved:</h2>

      <ul>
      <% @bodequero.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :pass %><br />
    <%= f.text_field :pass %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.text_field :fecha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
