<h1>Listing administrativos</h1>

<table>
  <tr>
    <th>User</th>
    <th>Pass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @administrativos.each do |administrativo| %>
  <tr>
    <td><%= administrativo.user %></td>
    <td><%= administrativo.pass %></td>
    <td><%= link_to 'Show', administrativo %></td>
    <td><%= link_to 'Edit', edit_administrativo_path(administrativo) %></td>
    <td><%= link_to 'Destroy', administrativo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Administrativo', new_administrativo_path %>
